<!DOCTYPE html>
<html>
<head>
<title>Take Action</title>
</head>

<body>
<form id="Action Form" method="post" action="/sos_action/add_action/{{complaint.id}}">
  <input type="hidden" name="complaint_id" id="id_complaint_id" value="{{complaint.id}}" />
  {% csrf_token %}
  <table style="width:100%">
  <tr> 
    <td>Complaint id</td>
    <td>{{ complaint.id }} </td>
  </tr>
  <tr> 
    <td>Name of Complainant</td>
    <td>{{ complaint.name }} </td>
  </tr>
  <tr> 
    <td>Mobile Number</td>
    <td>{{ complaint.mobile }} </td>
  </tr>
  <tr> 
    <td>IMEI Number (ID field)</td>
    <td>{{ complaint.imei }} </td>
  </tr>
  <tr> 
    <td>Alert Location</td>
    <td>{{ complaint.location }} </td>
  </tr>
  <tr> 
    <td>DateTime</td>
    <td>{{ complaint.complaint_time }} </td>
  </tr>
  <tr> 
    <td>Status</td>
    <td>{{ complaint.status }} </td>
  </tr>

  {% for field in form.visible_fields %}
  <tr>
    <td> {{ field.help_text }} </td>
    <td> {{ field }} </td>
  </tr>
  {% endfor %}
  </table>

  <input type="submit" name="submit" value="Add Action" />
</form>
</body>
</html>
