<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'sos_action/style.css' %}" />
</head>
<body>
<h2> Complaint Details  </h2>
{%  include "sos_action/complaint_common.html" with complaint=complaint only %}
<h2> Actions taken on the Complaint </h2>
<table style="width:100%">
  <tr>
    <th>User</th>
    <th>ComplaintId</th>
    <th>Time</th>
    <th>Description</th>
  </tr>
 {% for update in complaint.updates_set.all %}
  <tr>
    <td> {{ update.user.username }} </td>
    <td> {{ update.complaint.id }} </td>
    <td> {{ update.update_time }} </td>
    <td> {{ update.information }} </td>
  </tr>
  {% endfor %}
</table>
<a href="/sos_action/update/{{complaint.id}}"> Add/Edit Response </a>
{% include "sos_action/footer.html" %}
</body>
</html>
