<!DOCTYPE html>
<table style="width:100%">
  <tr> 
    <td>Complaint id</td>
    <td>{{ id }} </td>
  </tr>
  <tr> 
    <td>Name of Complainant</td>
    <td>{{ name }} </td>
  </tr>
  <tr> 
    <td>Mobile Number</td>
    <td>{{ mobile }} </td>
  </tr>
  <tr> 
    <td>IMEI Number (ID field)</td>
    <td>{{ imei }} </td>
  </tr>
  <tr> 
    <td>Alert Location</td>
    <td>{{ location }} </td>
  </tr>
  <tr> 
    <td>DateTime</td>
    <td>{{ datetime }} </td>
  </tr>
  <tr> 
    <td>Alert Status</td>
    <td>{{ status }} </td>
  </tr>
</table>
