<!DOCTYPE html> <html>
<head>
<title>Reports</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'sos_action/style.css' %}" />
<script type="text/javascript" src="{% static 'sos_action/calendarDateInput.js' %}"> 

/***********************************************
 * Jason's Date Input Calendar- By Jason Moon http://calendar.moonscript.com/dateinput.cfm
 * Script featured on and available at http://www.dynamicdrive.com
 * Keep this notice intact for use.
 ***********************************************/
</script>
<script type="text/javascript" src="{% static 'charts/Chart.js' %}"> </script>
</head>
<body>

<form id="form" method="get" action="/sos_action/report">
  <table style="width:100%">
    <tr>
      <td> Start Date </td>
      <td> <script>DateInput('start_date', true, 'DD-MON-YYYY', '{{ selected_start_date }}')</script> </td>
    </tr>

    <tr>
      <td> End Date </td>
      <td> <script>DateInput('end_date', true, 'DD-MON-YYYY', '{{ selected_end_date }}')</script> </td>
    </tr>

    <tr>
      <td> District </td>
      <td>
        <select name="district" id="districts">
          <option value="All" {% ifequal 'All' selected_district %} checked {% endifequal %}> All
          {% for district in districts %}
          <option value="{{ district }}" {% ifequal district selected_district %} checked {% endifequal %}> {{ district }}
          {% endfor  %}
        </select>
      </td>
    </tr>

    <tr>
      <td> Agent </td>
      <td>
        <select name="agent" id="agents">
          <option value="All"> All
          {% for user in users %}
          <option value="{{ user.id }}"> {{ user.username }}
          {% endfor  %}
        </select>
      </td>
    </tr>
    <tr>
      <td> Complaint Type </td>
      <td>
        <select name="complaint_type" id="complaint_type">
          <option value="All" {% ifequal 'All' selected_complaint_type %} checked {% endifequal %}> All
          {% for complaint_type in complaint_types %}
          <option value="{{ complaint_type }}" {% ifequal district selected_district %} checked {% endifequal %}> {{ complaint_type }}
          {% endfor  %}
        </select>
      </td>
    </tr>
    <tr>
      <td> 
        <input type="submit" value="Report"> 
        <input type="button" value="Report-LastWeek" onclick="SetRange('week')"> 
        <input type="button" value="Report-LastMonth" onclick="SetRange('month')"> 
      </td>
    </tr>
  </table>
</form>

<h3> Summary </h3>
{% include "sos_action/summary.html" with stats=stats only  %}
<h3> List of complaints </h3>
{% include "sos_action/list_complaints_common.html" with complaints=complaints only  %}
{% include "sos_action/footer.html" %}
<script>
function SetRange(range){
  var form = document.getElementById("form");
  var hidden = document.createElement("INPUT");
  hidden.setAttribute("type", "hidden");
  hidden.setAttribute("name", "date_range");
  hidden.setAttribute("value", range);
  form.appendChild(hidden);
  form.submit();
}
</script>

</body>
</html>
